version: "3.9"

services:
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: pgesparterpubli@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    restart: unless-stopped
    
  api:
    build:
      context: ./API
      dockerfile: Dockerfile.API
    image: E2E-api
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    
  dbt:
    build:
      context: ./dbt
      dockerfile: Dockerfile.pyDBT
    image: dbt:latest
    profiles: [ "workers" ]
  
  db:
    image: postgres:17-alpine
    env_file: .env
    volumes:
      - ./docker-init:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER" ]
      interval: 2s
      timeout: 2s
      retries: 15
    restart: "no"